@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat');

//COLORS

$color-primary: #212121;
$color-secondary: #d4df38;
$dark-main: #272727;

//Previous blue color rgb(20,146,201);
$white: #fff;
$dark-white: #f2f2f2;
$light-grey: #818181;
$dark-grey: #303030;
//FONTS
$font-primary: Lato, sans-serif;
$font-secondary: Montserrat, sans-serif;
