@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat');

//COLORS
$dark-main: #272727;
$blue-secondary: rgb(20,146,201);
$white: #fff;

//FONTS
$font-main: Lato, sans-serif;
$font-secondary: Montserrat, sans-serif;
