@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat');

//COLORS
$dark-main: #272727;
$color-primary: #f4511e;

//Previous blue color rgb(20,146,201);
$white: #fff;
$dark-white: #f6f6f6;
$light-grey: #818181;
$dark-grey: #303030;
//FONTS
$font-primary: Lato, sans-serif;
$font-secondary: Montserrat, sans-serif;
