<app-menu></app-menu>

<div class="container-fluid" id="discussion-section">
  <div class="row">
    <div class="col-sm-6">
      <div class="topic-area">
        <h4>{{chatData.title}}</h4> <h4 *ngIf="hubInstance.publishedQuestion">- {{hubInstance.publishedQuestion.content}}</h4>
        <span class="participants">
          {{hubInstance.members.length}}
        </span>
      </div>
      <div id="discussion">
        <div class="comments-container">
          <ul id="comments-list" class="comments-list">
            <li *ngFor="let message of hubInstance.messages">
              <div *ngIf="!message.isMine" class="comment-main-level">

                <div class="comment-avatar col-sm-1"><img src="../../assets/icons/{{message.sender}}.svg" alt="{{message.sender}}"></div>

                <div class="comment-box col-sm-10">
                  <div class="comment-head">
                    <h6 class="comment-name by-author">{{message.sender}}</h6>
                    <span>Sent on : {{message.sendDate}}</span>
                    <i class="fa fa-thumbs-o-up" (click)="likeMessage(message)"></i>
                    <span class="f-right">{{message.likeCount}}</span>
                    <i class="fa fa-thumbs-o-down" (click)="dislikeMessage(message)"></i>
                    <span class="f-right">{{message.dislikeCount}}</span>
                    <i class="fa fa-volume-up" (click)="playAudio(message)" aria-hidden="true"></i>
                  </div>
                  <div *ngIf="message.replyId" class="replied-to-message no-message">
                    <h6 class="comment-name">{{message.oldSender}}</h6><br />
                    <span class="content">{{message.oldMessage}}</span>
                  </div>
                  <div class="comment-content">{{message.content}}</div>
                </div>
              </div>

              <div *ngIf="message.isMine" class="comment-main-level your-message">
                <div class="comment-avatar col-sm-1"><img src="../../assets/icons/{{message.sender}}.svg" alt="{{message.sender}}"></div>

                <div class="comment-box col-sm-10">
                  <div class="comment-head">
                    <h6 class="comment-name">{{message.sender}}</h6>
                    <span>Sent on : {{message.sendDate}}</span>
                    <i class="fa fa-thumbs-o-up" (click)="likeMessage(message)"></i>
                    <span class="f-right">{{message.likeCount}}</span>
                    <i class="fa fa-thumbs-o-down" (click)="dislikeMessage(message)"></i>
                    <span class="f-right">{{message.dislikeCount}}</span>
                    <i class="fa fa-volume-up" (click)="playAudio(message)" aria-hidden="true"></i>
                  </div>
                  <div *ngIf="message.replyId" class="replied-to-message no-message">
                    <h6 class="comment-name">{{message.oldSender}}</h6><br />
                    <span class="content">{{message.oldMessage}}</span>
                  </div>
                  <div class="comment-content">{{message.content}}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div id="textarea-container">
        <textarea [(ngModel)]="message" name="message" placeholder="Enter your message here"></textarea>
        <i *ngIf="!isListening" (click)="startListening()" class="fa fa-microphone" aria-hidden="true"></i>
        <i *ngIf="isListening" (click)="stopListening()" class="fa fa-microphone pulse" aria-hidden="true"></i>
      </div>
      <button (click)="sendMessage()" class="btn btn-lg btn-green">Post</button>
    </div>
    <div class="col-sm-6" id="manage-section">

      <div *ngFor="let question of hubInstance.openQuestions">
        <h4><span>Q</span>{{question.content}}</h4>
        <button *ngIf="(!question.isPublished && !question.isArchived)" (click)="publishQuestion(question)" class="btn">Start</button>
        <button *ngIf="(question.isPublished && !question.isArchived)" (click)="archiveQuestion(question)" class="btn">End</button>
        <hr />
      </div>

      <div *ngFor="let question of hubInstance.pollQuestions">
        <h4><span>Q</span>{{question.content}}</h4>
        <button *ngIf="(!question.isPublished && !question.isArchived)" (click)="publishQuestion(question)" class="btn">Start</button>
        <button *ngIf="(question.isPublished && !question.isArchived)" (click)="archiveQuestion(question)" class="btn">End</button>
        <hr />
      </div>

      <button class="btn btn-lg btn-green" (click)="goToTranscript()">See Transcript</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
