@import '../scss/styles.scss';

.panel {
  transition: box-shadow 0.5s;
  background: none;
  padding: 10px;
  border: none;
}

  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }

.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}

h1 {
  font-size: 28px;
  margin-bottom: 0;
}

.panel-heading {
  padding: 0;
  font-family: $font-primary;
  color: $color-primary;
  border: none;
  background: none;
  border-radius: 0 !important;
}

.fa {
  padding: 15px;
  font-size: 9em;
  color: $white;
  background-color: $color-primary;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .fa {
    font-size: 6em;
  }
}

.form-control {
  margin: 5px 0;
  border-radius: 0;
}

#welcome-login {
  background-image: url("../../assets/images/login-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 30px;
  font-family: $font-primary;
}

@media only screen and (max-width: 768px) {
  .info-blocks {
    display: none !important;
  }
}

.info-blocks {
  border-top: 2px solid $white;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  background-color: $white;
  font-family: $font-primary;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;

  h4 {
    font-weight: 600;
  }

  svg {
    height: 280px;
  }
}

.col-sm-4 {
  text-align: center;
  padding: 10px 0;
}
