<app-menu></app-menu>
<div id="welcome-login" class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <!--<app-new-chat></app-new-chat>-->
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
      <app-login></app-login>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
      <app-join-chat></app-join-chat>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row info-blocks">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <p>
        Engage the tech- savvy generation in a focus group
        session where they will be delighted to answer your questions and prompts.
      </p>
    </div>
    <div class="col-sm-2">
      <p>
        Give introverts the same power to influence the discussion
        as their overshadowing counterparts.
      </p>
    </div>
    <div class="col-sm-2">
      <p>
        EEliminate note- taking bias even if you have “soft talkers”.
      </p>
    </div>
    <div class="col-sm-2">
      <p>
        Having digital tools at hand, who needs to stay at the mercy of audio taping!
      </p>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<app-footer></app-footer>
