@import '../scss/styles.scss';

#welcome-login {
  background-image: url("../../assets/images/login-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 30px;
  border-bottom: 2px solid $color-primary;
  font-family: $font-primary;
}

.info-blocks {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  background-color: $dark-white;
  font-family: $font-primary;
  p{
    font-size: 1.2em;
    font-weight: 300;
  }
}

.col-sm-2 {
  flex: 1;
  color: $white;
  padding: 50px 10px;

  &:nth-child(2n) {
    background-color: $dark-grey;
  }

  &:nth-child(2n+1) {
    background-color: $color-primary;
    border: 2px solid $white;
  }

  &:nth-child(1), &:nth-child(6) {
    background-color: inherit;
    border: none;
  }
}
@media only screen and (max-width: 900px) {
  .info-blocks {
    .col-sm-2:last-child, .col-sm-2:first-child {
      padding: 0;
      width: 0;
      flex: 0;
    }
  }
}

@media only screen and (max-width: 425px) {
  .info-blocks {
    display: block;
    text-align: center;
  }
}

#error-message {
  margin: 0;
  z-index: 1000000;
  position: fixed;
  width: 100%;
  background-color: rgba(198, 37, 39, 0.9);
  color: $white;

  .fa-times-circle-o {
    float: right;
  }
}
