@import '../scss/styles.scss';

#welcome-login {
  background-image: url("../../assets/images/login-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 30px;
  font-family: $font-primary;
}

@media only screen and (max-width: 768px) {
  .info-blocks {
    display: none !important;
  }
}

.info-blocks {
  border-top: 2px solid $white;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  background-color: $white;
  font-family: $font-primary;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;

  h4 {
    font-weight: 600;
  }

  svg {
    height: 280px;
  }
}

.col-sm-4 {
  text-align: center;
  padding: 10px 0;
}
