@import '../scss/styles.scss';

.error-message {
  margin: 0;
  z-index: 1000000;
  width: 100%;
  margin-bottom: 2px;
  //background-color: rgba(198, 37, 39, 0.9);
  //color: $white;
  .fa-times-circle-o {
    float: right;
    cursor: pointer;
  }
}
