<app-menu></app-menu>

<div class="container-fluid" id="discussion-section">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <div class="topic-area">
        <h4>{{chatData.title}} What are the strengths of your program?</h4>
        <span class="participants">10</span>
      </div>
      <div id="discussion">
        <div class="comments-container">
          <ul id="comments-list" class="comments-list">

            <li *ngFor="let message of hubInstance.messages">
              <div *ngIf="!message.isMine" class="comment-main-level">

                <div class="comment-avatar col-sm-1"><img src="../../assets/icons/magneto.svg" alt="{{message.sender}}" [@fiftyAnimation]='stateFifty'></div>

                <div class="comment-box col-sm-10">
                  <div class="comment-head">
                    <h6 class="comment-name by-author">{{message.sender}}</h6>
                    <span>Sent on : {{message.sendDate}}</span>
                    <i class="fa fa-thumbs-o-up"></i>
                    <span class="f-right">5</span>
                    <i class="fa fa-thumbs-o-down"></i>
                    <span class="f-right">5</span>
                  </div>
                  <div class="comment-content" [@seventyFiveAnimation]='stateSeventyFive'>
                    {{message.content}}
                  </div>
                </div>
              </div>

              <div *ngIf="message.isMine" class="comment-main-level your-message">

                <div class="comment-avatar col-sm-1"><img src="../../assets/icons/magneto.svg" alt="{{message.sender}}" [@fiftyAnimation]='stateFifty'></div>

                <div class="comment-box col-sm-10">
                  <div class="comment-head">
                    <h6 class="comment-name by-author">{{message.sender}}</h6>
                    <span>Sent on : {{message.sendDate}}</span>
                    <i class="fa fa-thumbs-o-up"></i>
                    <span class="f-right">5</span>
                    <i class="fa fa-thumbs-o-down"></i>
                    <span class="f-right">5</span>
                  </div>
                  <div class="comment-content" [@seventyFiveAnimation]='stateSeventyFive'>
                    {{message.content}}
                  </div>
                </div>
              </div>
            </li>

            <!--<li>
              <div class="comment-main-level your-message">
                <div class="comment-avatar col-sm-1"><img src="../../assets/icons/captain-america.svg" alt="image" [@fiftyAnimation]='stateFifty'></div>

                <div class="comment-box col-sm-10">
                  <div class="comment-head">
                    <h6 class="comment-name">Tim</h6>
                    <span>15 minutes ago</span>
                    <i class="fa fa-thumbs-o-up"></i>
                    <span class="f-right">5</span>
                    <i class="fa fa-thumbs-o-down"></i>
                    <span class="f-right">5</span>
                  </div>
                  <div class="comment-content" [@seventyFiveAnimation]='stateSeventyFive'>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                  </div>
                </div>
              </div>
            </li>-->
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4" id="input-messsage" [(ngModel)]="message">
      <h4>Answer</h4>
      <p>Characters remaining 250</p>
      <form>
        <textarea rows="10" cols="45" name="text"></textarea>
        <button class="btn btn-lg">Post</button>
        <button class="btn btn-lg" (click)="animateMeFifty()">test 50%</button>
        <button class="btn btn-lg" (click)="animateMeSeventyFive()">test 75%</button>
      </form>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  <div id="count-stud">
    <i class="fa fa-user" aria-hidden="true"></i>
    35
  </div>
</div>

<app-footer></app-footer>
