@import '../scss/styles.scss';
@import '../scss/chat.scss';

#discussion-section {
  padding-top: 80px;
  padding-bottom: 40px;

  #textarea-container {
    position: relative;
  }

  .fitted-container {
    margin: 2px 0 5px 0;
  }
}

#discussion-section, h2, h3, h4, p{
	font-family: $font-primary;
}

.participants {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: $color-primary;
  color: $white;
  border-radius: 10px;
  float: right;
}

#discussion {
  height: 70vh;
  background-color: $dark-white;
  border: 1px solid $color-primary;
  overflow-y: scroll;

  .participants {
    position: sticky;
    top: 100%;
    left: 100%;
  }
}

textarea {
	width: 100%;
	border: 1px solid $color-primary;
}


.avatar{
	text-align: center;
	display: inline-block;
}

.message{
	margin-top: 10px;
	padding: 5px;
	min-height: 20px;

	background-color: $white;
	border: 2px solid $dark-grey;
}

.yours{
	float: right;
}

.not-yours{
	float: left;
}

.topic-area {
  background-color: $color-secondary;
  border: 1px solid $color-primary;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  color: $color-primary;
  width: 100%;
  padding: 5px;

  h4 {
    display: inline-block;
  }
}

#count-stud {
  position: absolute;
  left: 92vw;
  font-size: 2em;
  bottom: -50px;
  width: 60px;
}

.fa-microphone {
  width: 30px;
  height: 30px;
  font-size: 1.1em;
  color: $white;
  border: 1px solid $light-grey;
  background-color: $light-grey;
  padding: 6px;
  border-radius: 50px;
  position: absolute;
  z-index: 9999;
  right: 8px;
  bottom: 10px;
  text-align: center;
  cursor: pointer;

  &:hover {
    border: 1px solid $dark-grey;
    background-color: $color-secondary;
    color: $color-primary;
  }
}

.fa-microphone.pulse {
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
  -webkit-animation: pulse 1.5s infinite;
  border: 1px solid $dark-grey;
  background-color: $color-secondary;
  color: $color-primary;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@-webkit-keyframes pulse {
  0% {
    @include transform(scale(.8));
  }

  70% {
    @include transform(scale(1));
    box-shadow: 0 0 0 50px rgba($color-primary, 0);
  }

  100% {
    @include transform(scale(.9));
    box-shadow: 0 0 0 0 rgba($color-primary, 0);
  }
}

@media only screen and (max-width: 768px) {
  #count-stud {
    visibility: hidden;
    left: 0;
  }

  #input-messsage {
    padding-top: 0;

    h4 {
      display: none;
    }

    p {
      margin-top: 7px;
      margin-bottom: 3px;
    }
  }

  textarea {
    height: 150px;
  }

  #discussion {
    height: 58vh;
  }
}

@media only screen and (max-width: 425px) {
  textarea {
    height: 120px;
  }
}
