<app-menu></app-menu>

<div class="container-fluid" id="discussion-section">
  <div class="row">
    <div class="col-sm-6">
      <div class="topic-area">
        <h4>{{chatData.title}}</h4><h4 *ngIf="hubInstance.publishedQuestion"> - {{hubInstance.publishedQuestion.content}}</h4>
        <span class="participants">
          {{hubInstance.members.length}}
        </span>
      </div>
      <div id="discussion">
        <div class="comments-container">
          <ul id="comments-list" class="comments-list">
            <li *ngFor="let message of hubInstance.messages">

              <div *ngIf="!message.isMine" class="comment-main-level">

                <div class="comment-avatar col-sm-1"><img src="../../assets/icons/{{message.sender}}.svg" alt="{{message.sender}}"></div>

                <div class="comment-box col-sm-10">
                  <div class="comment-head">
                    <h6 class="comment-name by-author">{{message.sender}}</h6>
                    <span>Sent on : {{message.sendDate}}</span>
                    <i class="fa fa-thumbs-o-up" (click)="likeMessage(message)" [@seventyFiveAnimation]='stateSeventyFive' [@fiftyAnimation]='stateFifty'></i>
                    <span class="f-right">{{message.likeCount}}</span>
                    <i class="fa fa-thumbs-o-down" (click)="dislikeMessage(message)" [@seventyFiveAnimation]='stateSeventyFive' [@fiftyAnimation]='stateFifty'></i>
                    <span class="f-right">{{message.dislikeCount}}</span>
                    <i class="fa fa-volume-up" (click)="playAudio(message)" aria-hidden="true"></i>
                    <a class="reply-button" (click)="setReplyMessage(message)">Reply</a>
                  </div>
                  <div *ngIf="message.oldMessage" class="replied-to-message">
                    <h6 class="comment-name">{{message.oldSender}}</h6><br />
                    <span class="content">{{message.oldMessage}}</span>
                  </div>
                  <div class="comment-content">{{message.content}}</div>
                </div>
              </div>

              <div *ngIf="message.isMine" class="comment-main-level your-message">

                <div class="comment-avatar col-sm-1"><img src="../../assets/icons/{{message.sender}}.svg" alt="{{message.sender}}"></div>

                <div class="comment-box col-sm-10">
                  <div class="comment-head">
                    <h6 class="comment-name">{{message.sender}}</h6>
                    <span>Sent on : {{message.sendDate}}</span>

                    <i class="fa fa-thumbs-o-up" (click)="likeMessage(message)" [@seventyFiveAnimation]='stateSeventyFive' [@fiftyAnimation]='stateFifty'></i>
                    <span class="f-right">{{message.likeCount}}</span>
                    <i class="fa fa-thumbs-o-down" (click)="dislikeMessage(message)" [@seventyFiveAnimation]='stateSeventyFive' [@fiftyAnimation]='stateFifty'></i>
                    <span class="f-right">{{message.dislikeCount}}</span>
                    <i class="fa fa-volume-up" (click)="playAudio(message)" aria-hidden="true"></i>
                    <a class="reply-button" (click)="setReplyMessage(message)">Reply</a>
                  </div>
                  <div *ngIf="message.oldMessage" class="replied-to-message">
                    <h6 class="comment-name">{{message.oldSender}}</h6><br />
                    <span class="content">{{message.oldMessage}}</span>
                  </div>
                  <div class="comment-content">{{message.content}}</div>
                </div>
              </div>
          </ul>
        </div>
      </div>
      <div class="fitted-container">
        <p style="display: inline-block">Characters remaining : {{250 - (message!=null && message!=''?message.length:0)}}</p>
        <div *ngIf="replyMessage" (click)="clearReplyMessage()" class="replying-to-message"><p>Replying to: <span>{{replyMessage.sender}}</span></p><span></span></div>
        <form>
          <div id="textarea-container">
            <textarea [(ngModel)]="message" name="message" rows="2" cols="45"></textarea>
            <i *ngIf="!isListening" (click)="startListening()" class="fa fa-microphone" aria-hidden="true"></i>
            <i *ngIf="isListening" (click)="stopListening()" class="fa fa-microphone pulse" aria-hidden="true"></i>
          </div>
          <button *ngIf="hubInstance.publishedQuestion==null" class="btn btn-lg" (click)="sendMessage()">Post</button>

          <button *ngIf="hubInstance.publishedQuestion!=null && !hubInstance.publishedQuestion.isPollingQuestion" class="btn" (click)="submitAnswer()">Submit</button>

          <!--<button class="btn btn-lg" (click)="animateMeFifty()">test 50%</button>
          <button class="btn btn-lg" (click)="animateMeSeventyFive()">test 75%</button>-->
        </form>
      </div>
    </div>
    <div class="col-sm-6" id="input-messsage">

      <div *ngIf="hubInstance.publishedQuestion" class="container-fluid" id="discussion-section">
        <div class="row">
          <div class="col-sm-12">
            <div id="discussion">
              <div class="header text-center container"><h4>Poll</h4></div>
              <div class="poll-body">
                <div class="question-area">
                  <div class="question"><h4>{{hubInstance.publishedQuestion.content}}</h4></div>
                  <div *ngFor="let option of hubInstance.publishedQuestion.options" class="radio">
                    <label><input type="checkbox" [checked]="selectedOptions.indexOf(option) >= 0" (change)="onOptionSelect(option)" name="optradio">{{option}}</label>
                  </div>
                </div>
                <button class="btn btn-lg" (click)="submitAnswer()">Vote</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--<div *ngIf="hubInstance.publishedQuestion">
        <h4><span>Q</span>{{hubInstance.publishedQuestion.content}}</h4>
        <div *ngIf="hubInstance.publishedQuestion.isPollingQuestion">
          <span *ngFor="let option of hubInstance.publishedQuestion.options">
            <input type="checkbox" value="{{option}}" [checked]="selectedOptions.indexOf(option) >= 0" (change)="onOptionSelect(option)" />{{option}}
          </span>
        </div>
        <hr />
      </div>-->
    </div>
  </div>
  <div id="count-stud">
    <i class="fa fa-user" aria-hidden="true"></i>
    {{hubInstance.members.length}}
  </div>
</div>

<app-footer></app-footer>
