<div class="container-fluid" id="discussion-section">
  <div class="row">
    <div class="col-sm-12">
      <div id="discussion">
        <div class="header text-center container"><h4>Poll</h4></div>
        <div class="poll-body">
          <div class="question-area">
            <div class="question"><h4>Are you aware of the Center for Academic English?</h4></div>
            <div class="radio">
              <label><input type="radio" name="optradio">Yes</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio">No</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio">My friend told me about it</label>
            </div>
          </div>
          <button class="btn btn-lg">Vote</button>
        </div>
      </div>
    </div>
  </div>
</div>
