<div class="container col-sm-12">
  <div class="login-container">
    <div id="output"></div>
    <div class="avatar"></div>

    <div class="form-box">
      <form (ngSubmit)="onSubmitNewChat()">
        <input name="moderator" type="text" disabled="disabled" placeholder="username" (change)="onChangeModerator()" [(ngModel)]="chatData.moderator">
        <input name="title" type="text" placeholder="title" (change)="onChangeModerator()" [(ngModel)]="chatData.title">
        <button class="btn btn-info btn-block login" type="submit">Start Discussion</button>
      </form>
    </div>
  </div>
</div>
