<app-menu></app-menu>

<div class="container-fluid" id="new-chat-section">
  <form>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h2>Create New Chat Room</h2>
        <h4>Enter Room Name:</h4>
        <input name="title" class="form-control" type="text" placeholder="Title" [(ngModel)]="chatData.title">
        <div class="row">
          <div *ngIf="specifyTime" class="col-sm-6">
            <h4>Enter Period: <!--<input name="specifyTime" type="checkbox" [(ngModel)]="specifyTime" /> Specify Time--></h4>
            <input name="chatData.activationDate" (blur)="setActDate()" class="form-control" type="datetime-local" [(ngModel)]="chatData.activationDate">
            <input name="chatData.expirationDate" (blur)="setExpDate()" class="form-control" type="datetime-local" [(ngModel)]="chatData.expirationDate">
          </div>

          <div *ngIf="!specifyTime" class="col-sm-6">
            <h4>Enter Period: <!--<input name="specifyTime" type="checkbox" [(ngModel)]="specifyTime" /> Specify Time--></h4>
            <input name="chatData.activationDate" (blur)="setActDate()" class="form-control" type="date" [(ngModel)]="chatData.activationDate">
            <input name="chatData.expirationDate" (blur)="setExpDate()" class="form-control" type="date" [(ngModel)]="chatData.expirationDate">
          </div>
          <!--<div class="col-sm-6">
            <h4>Use Link Below to Share It with Students:</h4>
            <div class="alert alert-info">
              <h5><a>https://CentennailTalk.ca/RoomName/SomeCode</a></h5>
            </div>
          </div>-->
        </div>
        <div class="col-sm-6">
          <h4>Pre-populate Open-ended Questions:</h4>

          <div>
            <div class="open-question">
              <span>Q</span>
              <input [(ngModel)]="openQuestion" name="openQuestion" type="text" placeholder="question" class="form-control" />
            </div>
            <hr />
          </div>

          <div class="row" *ngFor="let question of chatData.openQuestions">
            <div class="open-question col-sm-8"><span>Q</span> <input type="text" disabled="disabled" value="{{question.content}}" placeholder="question" class="form-control" /></div>

            <button (click)="removeOpenQuestion(question)" class="rm-btn btn col-sm-4">Remove Question</button>
            <hr />
          </div>
          <button class="btn" (click)="addOpenQuestion()">Add Question</button>
        </div>

        <div class="col-sm-6">
          <h4>Choose your Poll Type:</h4>
          <div class="multiple-answer-question">
            <span>Q</span>
            <input [(ngModel)]="pollQuestion" name="pollQuestion" type="text" placeholder="question" class="form-control" />
            <br />
            <span>A</span><input type="text" [(ngModel)]="currentOption" name="currentOption" placeholder="option" class="form-control" />

            <button (click)="addOption()" class="btn">Add Option</button>

            <div class="checkbox">
              <label><input [(ngModel)]="allowMultiple" name="allowMultiple" type="checkbox" />Multiple answers</label>
            </div>
            <h5>Answers:</h5>
            <div *ngFor="let option of pollOptions;let i = index;">
              <span>A</span><input type="text" name="option" value="{{option}}" placeholder="answer" class="form-control" />
              <button (click)="removeOption(i)" class="btn">Remove Option</button>
            </div>
            <button (click)="addPollQuestion()" class="btn">Add Polling Questions</button>
          </div>

          <div *ngFor="let question of chatData.pollQuestions">
            <h4>Choose your Poll Type:</h4>
            <div class="multiple-answer-question">
              <span>Q</span> <input type="text" disabled="disabled" value="{{question.content}}" placeholder="question" class="form-control" />
              <div class="checkbox">
                <label><input disabled="disabled" type="checkbox" checked="{{question.selectMultiple}}">Multiple answers</label>
              </div>
              <h5>Answers:</h5>
              <div *ngFor="let option of question.options">
                <span>A</span><input disabled="disabled" type="text" value="{{option}}" placeholder="answer" class="form-control" />
              </div>
              <button (click)="removePollQuestion(question)" class="btn">Remove Question</button>
            </div>
          </div>
        </div>

        <br />
        <button class="btn btn-lg submit-btn" type="button" (click)="onSubmitNewChat()">Start</button>
        <!--<button class="btn btn-lg submit-btn" type="button" (click)="refreshData()">Refresh</button>-->
      </div>
      <div class="col-sm-2"></div>
    </div>
  </form>
</div>

<app-footer></app-footer>
