<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleState()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">VoiceIt</a>
    </div>
    <div class="collapse navbar-collapse in" id="myNavbar" [ngClass]="{ 'in': isIn }">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li (click)="goToSignup()" *ngIf="!loggedIn"><a><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
        <li><a (click)="goToGeneralLogin()" *ngIf="!loggedIn"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        <li><a (click)="logoutToHome()" *ngIf="loggedIn"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        <li><a (click)="goToDashboard()" *ngIf="loggedIn"><span class="glyphicon glyphicon-log-out"></span>Dashboard</a></li>
        <li><a (click)="goToJoinChat()"><span class="glyphicon glyphicon-log-out"></span>Join Chat</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="errors">

</div>
