@import '../scss/styles.scss';


#welcome-login {
  background-image: url("../../assets/images/welcome-parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 30px;
  border-bottom:2px solid $color-primary;
}


h2, h4, p {
  font-family: $font-main;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: $dark-grey;
  font-weight: 400;
  margin-bottom: 30px;
}

p {
  color: $light-grey;
}

.fa {
  color: $color-primary;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

#services{
  margin: 20px 0;
}

