@import '../scss/styles.scss';

#img-header{
  height: 50vh;
}

h2 {
  padding: 20px;
}

#white-section {
  background-color: $dark-white;
  padding-bottom: 40px;

  .col-sm-12{
    padding: 20px;
  }
  .btn.btn-lg {
    width: 100%;
    background-color: $color-primary;
    color: $white;
    border-radius: 0;

    &:hover {
      background-color: $white;
      color: $color-primary;
      border: 1px solid $color-primary;
    }
  }
}

#orange-section {
  .fa{
    color: $white;
    font-size: 6em;
  }
  padding: 30px 0;
  background-color: $color-primary;
  color: $white;

  #instructions {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
  }

  h4 {
    color: $white;
  }

  .col-sm-2 {
    flex: 1;

    &:nth-child(2n) {
      border: 1px solid $white;
      border-radius: 10px;
    }
  }
}

h2, h4, p {
  font-family: $font-primary;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: $dark-grey;
  font-weight: 400;
  margin-bottom: 30px;
}

p {
  color: $light-grey;
}

.fa {
  color: $color-primary;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

#services{
  margin: 20px 0;
}

