<app-menu></app-menu>

<div id="services" class="container-fluid text-center">
  <div id="img-header">

  </div>
  <div id="white-section" class="row">
    <div class="col-sm-12">
      <h2>
        Give a Voice to Students!
      </h2>
      <h4>
        Welcome to the student chat page where educators or administrators can hear students opinion while giving them the option to stay anonymous.
        Avoid student survey fatigue and opt for the students’ favorite platform that will keep them engaged and happy to share their insights.
        <br />
        You can either choose the login option and benefit from extra features or use the platform as a guest.
      </h4>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"><button class="btn btn-lg">Login</button></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"><button class="btn btn-lg">Use as a Guest</button></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row" id="orange-section">
    <h4 class="weight-3">
      The First Online Research Platform Dedicated to Students
      with Qualitative & Quantitative Tools and Artificial Intelligence (AI) Content Analysis
    </h4>
    <h2>
      Start in 3 Easy Steps
    </h2>
    <div class="container" id="instructions">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"><h4>Login or Use as a Guest</h4></div>
      <div class="col-sm-2"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <div class="col-sm-2"><h4>Pre-populate your questions</h4></div>
      <div class="col-sm-2"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <div class="col-sm-2"><h4>Gather Students, Share the Link and Moderate</h4></div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  <h2>BENEFITS</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim slide">
    <div class="col-sm-4">
      <i class="fa fa-users fa-5x" aria-hidden="true"> </i>
      <h4>BIG GROUP</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
      <h4>STUDENT PARTICIPATION STATS</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-file-text-o fa-5x" aria-hidden="true"> </i>
      <h4>DOWNLOAD TRANSCRIPT</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim slide">
    <div class="col-sm-4">
      <i class="fa fa-smile-o fa-5x" aria-hidden="true"> </i>
      <h4>STRONGER ENGAGEMENT</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-database fa-5x" aria-hidden="true"> </i>
      <h4>BETTER QUALITY DATA</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-usd fa-5x" aria-hidden="true"> </i>
      <h4>LOW BUDGET</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim slide">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <i class="fa fa-question-circle-o fa-5x" aria-hidden="true"> </i>
      <h4>POLL</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <i class="fa fa-line-chart fa-5x" aria-hidden="true"> </i>
      <h4>AI CONTENT ANALYSIS</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<app-footer></app-footer>
