<app-menu></app-menu>

<div id="services" class="container-fluid text-center">
  <div id="img-header">
  </div>
  <div id="white-section" class="row">
    <div class="col-sm-12">
      <h2>
        Give a Voice to Students!
      </h2>
      <h4>
        Welcome to VoiceIt, a platform used by administrators and educators to engage with
        students and learn about their experiences. Avoid students’ survey fatigue and opt
        for the students’ favorite platform that will keep them engaged and happy to share
        their insights. Once you finish your session, collect a transcript with feedback grouped by theme thanks to the Artificial Intelligence content analysis technology.
      </h4>
      <h4>
        The First Online Research Platform Dedicated to Students with Qualitative & Quantitative
        Tools and Artificial Intelligence (AI) Content Analysis
      </h4>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3"><button class="btn btn-lg" (click)="goToGeneralLogin()">Login</button></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3"><button class="btn btn-lg">1 Month Free Trial</button></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row  blue-bg" id="blue-section">
    <h2>
      Start in 3 Easy Steps
    </h2>
    <div class="container" id="instructions">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"><h4>Login or Use as a Guest</h4></div>
      <div class="col-sm-2"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <div class="col-sm-2"><h4>Create  your Session</h4></div>
      <div class="col-sm-2"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <div class="col-sm-2"><h4>Gather Students, Share the Link and Moderate</h4></div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  <div class="container" id="video-section">
    <button class="btn btn-lg blue-bg">Watch a 5 minute video demo</button>
  </div>
  <h2>BENEFITS</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim slide">
    <div class="col-sm-4">
      <i class="fa fa-users fa-5x" aria-hidden="true"> </i>
      <h4>BIG GROUP</h4>
      <p>
        Include up to 15 participants per session
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-pie-chart fa-5x" aria-hidden="true"></i>
      <h4>STUDENT PARTICIPATION STATS</h4>
      <p>
        Count of engaged participants per question
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-file-text-o fa-5x" aria-hidden="true"> </i>
      <h4>DOWNLOAD TRANSCRIPT</h4>
      <p>
        Download the session transcript
      </p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim slide">
    <div class="col-sm-4">
      <i class="fa fa-smile-o fa-5x" aria-hidden="true"> </i>
      <h4>STRONGER ENGAGEMENT</h4>
      <p>
        Gamification style for higher engagement
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-user-secret fa-5x" aria-hidden="true"> </i>
      <h4>ANONYMOUS MODE</h4>
      <p>
        Participants stay anonymous by choosing an Avatar icon
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-usd fa-5x" aria-hidden="true"> </i>
      <h4>LOW BUDGET</h4>
      <p>
        Run your session at a low budget
      </p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim slide">
    <div class="col-sm-4">
      <i class="fa fa-bar-chart fa-5x" aria-hidden="true"> </i>
      <h4>POLL</h4>
      <p>
        Use the Poll option for quantitative feedback
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-microphone fa-5x" aria-hidden="true"> </i>
      <h4>SPEECH, TEXT TO SPEECH</h4>
      <p>
        Participants with disabilities can either dictate their answer or hear a typed text
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-line-chart fa-5x" aria-hidden="true"> </i>
      <h4>AI CONTENT ANALYSIS</h4>
      <p>
        Feedback grouped by themes for easier analysis
      </p>
    </div>
  </div>
</div>

<!--<button value="start" (click)="startTwo()">Start</button>
<button value="stop" (click)="stop()">Stop</button>
<audio id="player" controls src="{{blob}}"></audio>-->
<app-footer></app-footer>
