@import '../scss/styles.scss';

#img-header {
  margin-top: 30px !important;
  height: 70vh;
  background-image: url("../../assets/images/home-header.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 -15px;
  border-bottom: 2px solid $color-primary;
}

h2 {
  padding: 20px;
}

.blue-bg, .btn.btn-lg {
  background-color: $blue;

  h2 {
    margin-top: 0;
  }
}

button.blue-bg {
  background-color: $blue !important;
  width: initial !important;
  margin-top: 20px;

  &:hover {
    color: $blue !important;
    background-color: $white !important;
    border: 1px solid $blue !important;
  }
}

#white-section {
  background-color: $dark-white;
  padding-bottom: 40px;

  h4 {
    font-weight: 400;
  }

  .col-sm-12 {
    padding: 20px;

    h4:nth-child(3) {
      font-weight: 600;
    }
  }
}

#video-section {
  margin-top: 20px 0;
}

#blue-section {
  .fa {
    color: $white;
    font-size: 6em;
  }

  padding: 30px 0;
  background-color: $blue;
  color: $white;
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;

  #instructions {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
  }

  h4 {
    color: $white;
    font-size: 1.5em !important;
  }

  .col-sm-2 {
    flex: 1;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &:nth-child(2n) {
      border: 1.5px solid $white;
      border-radius: 10px;
    }
  }
}

h2, h4, p {
  font-family: $font-primary;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: $dark-grey;
  font-weight: 400;
  margin-bottom: 30px;
}

p {
  color: $light-grey;
}

.fa {
  color: $color-secondary;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;

  h4 {
    margin-bottom: 10px;
  }

  p {
    font-size: 1.3em;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

#services {
  margin: 20px 0;
}

@media only screen and (max-width: 768px) {
  #blue-section {
    .col-sm-1 {
      padding: 0;
      width: 0;
    }
  }
}

@media only screen and (max-width: 570px) {
  #blue-section {
    .col-sm-2:nth-child(2n+1) {
      visibility: hidden;
      width: 0px !important;
      padding: 0;
      flex: initial;
    }
  }
}
