<app-menu></app-menu>
<div class="container-fluid" id="icons-section">
  <h2>Choose your avatar</h2>
  <div class="container-fluid text-center" id="icons-table">
    <div class="row">
      <div class="col-sm-2"><img (click)="setIconName('groot')" src="../../assets/icons/groot.svg" alt="image"><h4>Groot</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('iron-man')" src="../../assets/icons/iron-man.svg" alt="image"><h4>Iron Man</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('spider-man')" src="../../assets/icons/spider-man.svg" alt="image"><h4>Spiderman</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('captain-america')" src="../../assets/icons/captain-america.svg" alt="image"><h4>Captain America</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('jessica-jones')" src="../../assets/icons/jessica-jones.svg" alt="image"><h4>Jessica Jones</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('catwoman')" src="../../assets/icons/catwoman.svg" alt="image"><h4>Catwoman</h4></div>
    </div>           
    <div class="row">
      <div class="col-sm-2"><img (click)="setIconName('storm-marvel')" src="../../assets/icons/storm-marvel.svg" alt="image"><h4>Storm</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('mystique')" src="../../assets/icons/mystique.svg" alt="image"><h4>Mistique</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('rogue')" src="../../assets/icons/rogue.svg" alt="image"><h4>Rogue</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('wolverine')" src="../../assets/icons/wolverine.svg" alt="image"><h4>Wolverine</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('jean-grey')" src="../../assets/icons/jean-grey.svg" alt="image"><h4>Jean Grey</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('deadpool')" src="../../assets/icons/deadpool.svg" alt="image"><h4>Deadpool</h4></div>
    </div>           
    <div class="row">
      <div class="col-sm-2"><img (click)="setIconName('batman')" src="../../assets/icons/batman.svg" alt="image"><h4>Batman</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('superman')" src="../../assets/icons/superman.svg" alt="image"><h4>Superman</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('isis')" src="../../assets/icons/isis.svg" alt="image"><h4>Isis</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('harley-quinn')" src="../../assets/icons/harley-quinn.svg" alt="image"><h4>Harley Quinn</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('sailor-moon')" src="../../assets/icons/sailor-moon.svg" alt="image"><h4>Sailor Moon</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('joker')" src="../../assets/icons/joker.svg" alt="image"><h4>Jocker</h4></div>
    </div>
    <div class="row">
      <div class="col-sm-2"><img (click)="setIconName('avatar')" src="../../assets/icons/avatar.svg" alt="image"><h4>Avatar</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('rick-sanchez')" src="../../assets/icons/rick-sanchez.svg" alt="image"><h4>Rick</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('morty-smith')" src="../../assets/icons/morty-smith.svg" alt="image"><h4>Morty</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('finn')" src="../../assets/icons/finn.svg" alt="image"><h4>Finn</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('jake')" src="../../assets/icons/jake.svg" alt="image"><h4>Jake</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('princess-bubblegum')" src="../../assets/icons/princess-bubblegum.svg" alt="image"><h4>Princess</h4></div>
    </div>
    <div class="row">
      <div class="col-sm-2"><img (click)="setIconName('thor')" src="../../assets/icons/thor.svg" alt="image"><h4>Thor</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('pennywise')" src="../../assets/icons/pennywise.svg" alt="image"><h4>Pennywise</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('martian')" src="../../assets/icons/martian.svg" alt="image"><h4>Martian</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('the-flash-head')" src="../../assets/icons/the-flash-head.svg" alt="image"><h4>Flash</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('olive-oyl')" src="../../assets/icons/olive-oyl.svg" alt="image"><h4>Olive Oyl</h4></div>
      <div class="col-sm-2"><img (click)="setIconName('harry-potter')" src="../../assets/icons/harry-potter.svg" alt="image"><h4>Harry</h4></div>
    </div>
  </div>
</div>
<app-footer></app-footer>
