<app-menu></app-menu>
<div class="container-fluid" id="icons-section">
  <h2>Choose your avatar</h2>
  <div class="container-fluid text-center" id="icons-table">
    <div class="row">
      <div class="col-sm-2"><img src="../../assets/icons/groot.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/iron-man.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/spider-man.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/captain-america.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/thor.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/hulk.svg" alt="image"></div>
    </div>
    <div class="row">
      <div class="col-sm-2"><img src="../../assets/icons/magneto.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/mystique.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/professor-x.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/wolverine.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/beast.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/deadpool.svg" alt="image"></div>
    </div>
    <div class="row">
      <div class="col-sm-2 "><img src="../../assets/icons/batman.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/superman.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/isis.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/harley-quinn.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/flash.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/joker.svg" alt="image"></div>
    </div>
    <div class="row">
      <div class="col-sm-2 "><img src="../../assets/icons/avatar.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/rick-sanchez.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/morty-smith.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/finn.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/jake.svg" alt="image"></div>
      <div class="col-sm-2"><img src="../../assets/icons/walter-white.svg" alt="image"></div>
    </div>
  </div>
</div>
<app-footer></app-footer>
