<app-menu></app-menu>
<div class="container-fluid" id="icons-section">
  <h2>Choose your avatar</h2>
  <div class="container-fluid text-center" id="icons-table">
    <div class="row">
      <div class="col-sm-2"><i class="fa fa-bicycle" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-binoculars" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-bolt" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-car" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-balance-scale" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-bug" aria-hidden="true"></i></div>
    </div>
    <div class="row">
      <div class="col-sm-2 "><i class="fa fa-bus" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-cube" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-diamond" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-fighter-jet" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-ship" aria-hidden="true"></i></div>
    </div>
    <div class="row">
      <div class="col-sm-2"><i class="fa fa-umbrella" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-globe" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-hand-lizard-o" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-headphones" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-key" aria-hidden="true"></i></div>
    </div>
    <div class="row">
      <div class="col-sm-2"><i class="fa fa-leaf" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-university" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-paw" aria-hidden="true"></i></div>
      <div class="col-sm-2"><i class="fa fa-rocket" aria-hidden="true"></i></div>
    </div>
  </div>
</div>
<app-footer></app-footer>
