<app-menu></app-menu>
<div class="container-fluid">
  <div class="row">
    <!--<app-new-chat></app-new-chat>-->
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Moderator Sign up</h1>
        </div>
        <div class="panel-body">
          <i class="fa fa-user-circle" aria-hidden="true"> </i>
          <form (ngSubmit)="onModeratorSignup()">
            <input name="user" class="form-control" type="text" placeholder="username" [(ngModel)]="signup.username">
            <input name="password" class="form-control" type="password" placeholder="password" [(ngModel)]="signup.password">
            <button class="btn btn-lg" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
<app-footer></app-footer>
