<h1>{{title}}</h1>

<!--<div class="container">
  <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>
    Hey! I'm fine. Thanks for asking!
  </p>
  <span class="time-left">11:01</span>
</div>-->

<ul>
  <li *ngFor="let message of messages">{{message}}</li>
</ul>

<div class="container">
  <input type="text" name="message" [(ngModel)]="message" placeholder="type your message"/>
</div>
<button value="Send">Send</button>
