<app-menu></app-menu>
<div class="container-fluid" id="chat-section">
  <h2>{{chatData.title}}</h2>
    <div class="row">
      <div class="dialog-section col-sm-6">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <!--<div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span>
            </div>
          </div>-->
        </div>
        <div class="inbox_chat">

          <div *ngFor="let member of hubInstance.members">

            <div *ngIf="member.isConnected" ng-class="{'chat_list active_chat':member.isConnected,'chat_list':!member.isConnected,}">
              <div class="chat_people">
                <div class="chat_img"> <img src="../../assets/images/user-profile.png" alt="{{member.username}}"> </div>
                <div class="chat_ib">
                  <h5>{{member.username}} <span class="chat_date">Dec 25</span></h5>
                  <p>
                    Test, which is a new approach to have all solutions
                    astrology under one roof.
                  </p>
                </div>
              </div>
            </div>

            <!--<div ng-if="!member.isConnected" class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="Images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Rohit <span class="chat_date">Dec 25</span></h5>
                  <p>
                    Test, which is a new approach to have all solutions
                    astrology under one roof.
                  </p>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
      <div class="input-section  col-sm-6">
        <div class="msg_history">

          <div *ngFor="let message of hubInstance.messages">

            <div *ngIf="!message.isMine" class="incoming_msg">
              <div class="incoming_msg_img"> <img src="../../assets/images/user-profile.png" alt="{{message.sender}}"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>
                    {{message.content}}
                  </p>
                  <span class="time_date">{{message.sendDate}}</span>
                </div>
              </div>
            </div>
            <div>
              <button (click)="playAudio(message)">Speak</button>
            </div>
            <div *ngIf="message.isMine" class="outgoing_msg">

              <div class="sent_msg">
                <p>
                  {{message.content}}
                </p>
                <span class="time_date">{{message.sendDate}}</span>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" [(ngModel)]="message" placeholder="type your message" />

            </div>
            <button (click)="sendMessage()" type="button">Send</button>
                    
            <button (click)="startListening()" type="button">Start speech</button>
                    
            <button (click)="stopListening()" type="button">Stop Speech</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
