<!--<app-error-message></app-error-message>-->
<app-menu></app-menu>
<div class="container-fluid dashboard-section">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Code</th>
            <th>Participants</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!--THIS IS JUST AN EXAMPLE-->
          <tr>
            <td>10/10/2010</td>
            <td>Example Title</td>
            <td>SomeCODE</td>
            <td>5</td>
            <td></td>
          </tr>
          <!--REPEAT THIS tr ELEMENT-->
          <tr *ngFor="let chat of chats">
            <!--ADD DATE HERE OR REMOVE THE COLUMN-->
            <td>10/10/2010</td>
            <td>{{chat.title}}</td>
            <td>{{chat.chatCode}}</td>
            <!--ADD DATE HERE OR REMOVE THE COLUMN-->
            <td>12</td>
            <td><button class="btn btn-lg" (click)="joinThisChat()" type="button">Join</button></td>
          </tr>

        </tbody>
      </table>


      
      <button class="btn btn-lg" (click)="getList()">Get List</button>
      <button class="btn btn-lg" (click)="goToIconPage()" type="submit">Choose Icon</button>
      <button class="btn btn-lg" (click)="goToNewChatPage()" type="button">New Chat</button>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<app-footer></app-footer>
