<!--<app-error-message></app-error-message>-->
<app-menu></app-menu>
<div class="container-fluid dashboard-section">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <table *ngIf="chats!=null && chats.length>0" class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Code</th>
            <th>Participants</th>
            <th>Participate</th>
            <th>Transcript</th>
            <th>Cluster Transcript Responses</th>
          </tr>
        </thead>
        <tbody>
          <!--REPEAT THIS tr ELEMENT-->
          <tr *ngFor="let chat of chats">
            <td>{{chat.activationDate}}</td>
            <td>{{chat.title}}</td>
            <td>{{chat.chatCode}}</td>
            <td>{{chat.members.length}}</td>
            <td><button class="btn btn-lg" (click)="joinThisChat(chat.moderator,chat.chatCode)" type="button">Join</button></td>
            <td><button class="btn btn-lg" (click)="goToTranscript(chat.chatCode,chat.clusterResponses)" type="button">Download Transcript</button></td>
            <td><input [(ngModel)]="chat.clusterResponses" name="clusterResponses" type="checkbox" /></td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-lg" (click)="goToIconPage()" type="submit">Choose Icon</button>
      <button class="btn btn-lg" (click)="goToNewChatPage()" type="button">Create Your Session</button>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<app-footer></app-footer>
